/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.productInRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.app-items__container {
    width: 50%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app-item {
    width: 49%;
    height: 100px;
    margin-top: 15px;
    background-color: #f16321;
    border-radius: 20px;
    border: 1px solid #278389;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

    .app-item:hover {
        color: #b9dfe1;
        text-decoration: none;
        background-color: #278389;
    }

#navbar_custom_layout {
    background-color: #278389;
    border: none;

}
#navbar_custom_layout_fontColor {
    color: #dcf3f5;
    font-weight:600;
}

    #navbar_custom_layout_fontColor:hover {
        color: #ff7700;
    }
#navbar_custom_layout_BrandFontColor {
    color: #ff7700;
    font-weight: 800;
    font-size:18px;
}
#button_add {
    background-color: #f16321;
    border-color: #f16321;
}